<div class="modal-header">
  <h4 class="modal-title">Modal de criação? ......</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()" ></button>
</div>
<div class="m-3 d-flex">
  <img src="images/joia.jpeg" alt="">
  <div class="p-3">
    <p>Olá devs da Feng!!</p>
    <p><strong>Infelizmente </strong>não consegui implementar o modal de criação de itens, clientes e pedidos, devido ao <strong>tempo</strong> então peço <strong>encarecidamente</strong> que para criá-los utilizem alguma ferramenta como postman :)</p>
    <p>Desde já agradeço pelo desafio e oportunidade 👍</p>
  </div>
</div>

<div class="modal-body">
  

