.order-list{
  
  
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #F0F0F0 ;
  border: solid 1px #CDCDCD;
}


@media (max-width: 428px) {
  .order-list{
    padding: 10px;
  }
}

@media (max-width: 300px) {
  
}