.order-card{
  background-color: #ffffff;
  border-radius: 15px;
  padding: 10px 20px;
  border: solid 1px #CDCDCD;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  &:hover {
    transform: scale(1.02); // Aumenta levemente o tamanho do card
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); // Adiciona uma sombra sutil
  }
}

.order-card__item-info{

  display: flex;
  flex-direction: column;
  
}


.order-card__item-info-date{
  font-size: 12px;
}

